doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	body
		div#app.container
			language
			header
				h1 {{ $t("title") }}
				div
					router-link.btn.waves-effect.waves-light(to='/') {{ $t("menu.list") }}
					router-link.btn.waves-effect.waves-light(to='/help') {{ $t("menu.help") }}
					router-link.btn.waves-effect.waves-light(to='/comments') {{ $t("menu.comments") }}
			br
			main.row
				keep-alive
					router-view.col.s12.m8.offset-m2.l6.offset-l3
			br
			footer
				p {{ $t("footer.author") }}
				img(src='img/webpack.png')
				img(src='img/vuejs.png')
